<div class="container">
<div class="col-md-offset-3 col-centered">

<h2 class="mt-1" id="title">
 The DayDream Dasher Blog
 </h2>
 </div>
 <hr>

<div class="card text-white bg-info mb-3">
   <div class="card-body">
        <h4 class="card-title">Our first blog entry</h4>
           <h6>Date: 09/10/2021</h6>
           <p class="card-text">Welcome to the Daydream Dasher blog page, this page will be used to update you on the development progress of the game! We will talk about the challeneges we face and what we are doing in different blogs. The application we have used to develop our game is unity, this is because it has the ability to make our game compatible with many platforms, if necessary, with easy implementation; there is a very supportive community, making it easier and quicker to deal with issues throughout development.</p>
           </div>
    </div>
        
<div class="card text-white bg-info mb-3">
   <div class="card-body">
        <h4 class="card-title">The Web development journey</h4>
           <h6>Date: 29/10/2021</h6>
           <p class="card-text">The DayDream Dasher website has been built over numerous iterations. The website would be reviewed by the DayDream Dasher team at the end of each iteration, so we could give feedback on what we think should change. As a result, we have ended up with a website which will capture the attention of our target audience. The website contains lots of different blue and white colours as it is symbolic of the sky, typically referenced when describing a 'daydreamer' as they are always 'up in the clouds'.  The navigation around the website is also very simplistic, making it easier for any user to get around the site!</p>
           </div>
    </div>
        
<div class="card text-white bg-info mb-3">
   <div class="card-body">
        <h4 class="card-title">The documentation journey</h4>
           <h6>Date: 01/112021</h6>
           <p class="card-text">One of the first things we decided to do as a team before we started to build our adventure-based game was to come together and take part to complete the game design document. The reason this was crucial for us, was so that we could come to a consensus about the vision for the game and for us to establish the MoSCoW requirements so that we could make sure that an iterative approach could be taken with game development. We needed to ensure these requirements covered the functional parts of the game such as the movements of our character or what would cause the game to come to an end. In addition, the experience for the user of the game which would be a non-functional requirement like the background environment, game artefacts, background music and sound effects. Once all these we agreed upon as a team they were documented for reference.</p>
           </div>
    </div>
                
     
     
</div>
