<div class="container">
<div class="col-md-offset-3 col-centered">

<h2 class="mt-1" id="title">
 The DayDream Dasher Blog
 </h2>
 </div>
 <hr>

<div class="card text-white bg-info mb-3">
   <div class="card-body">
        <h4 class="card-title">Our first blog entry</h4>
           <h6>Date: 09/10/2021</h6>
           <p class="card-text">Welcome to the Daydream Dasher blog page, this pahe will be used to update you on our development progress of the game! We will talk about the challeneges we face and what we are doing in different blogs. The application we have used to develop our game is unity, this is because it has the ability to make our game compatible with many platforms, if necessary, with easy implementation; there is a very supportive community, making it easier and quicker to deal with issues throughout development.</p>
           </div>
    </div>
        
<div class="card text-white bg-info mb-3">
   <div class="card-body">
        <h4 class="card-title">The Web development journey</h4>
           <h6>Date: 29/10/2021</h6>
           <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div>
    </div>
        
<div class="card text-white bg-info mb-3">
   <div class="card-body">
        <h4 class="card-title">The documentation journey</h4>
           <h6>Date: 01/112021</h6>
           <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div>
    </div>
                
     
     
</div>
