<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="col-md-offset-3 col-centered">
   <h2 class="mt-1">
   <img src="/styling/title.png" alt="" class="img-thumbnail">
   </h2>
</div>
<hr>

<div class="container">
  <div class="row">      
      <div class="col-sm-6">
      <h4 style="font-family: Georgia, serif;", style="color:white;"> The ultimate escape game! </h4>
   <p> DayDream Dasher is a 2D multi-level adventure based game. In the game you will experience what it would be like to escape certain classes in school, challenging you to find a way to escape different classroom whilst avoiding the teachers.</p>
   <p> Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua.</p>
      </div>
       <div class="col-sm-6">
      <h4 class="intro-subtext" style="font-family: Georgia, serif;"> DayDream Dasher teaser trailer below: </h4>
      <video width="480" height="360" controls>
      <source src="/styling/DayDream Dasher Draft 3 .mp4" type="video/mp4">
      </video>
      </div>
  </div>
</div>
