<div class="col-md-offset-3 col-centered">
   <h2 class="mt-1">
   <large>DayDream Dasher</large>
   </h2>
</div>
<hr>

<div class="container">
  <div class="row">      
      <div class="col-sm-6">
      <h4 class="mt-1"><large> The ultimate escape game! </large> </h4>
   <p> DayDream Dasher is a 2D multi-level adventure based game. In the game you will experience what it would be like to escape certain classes in school, challenging you to find a way to escape different classroom whilst avoiding the teachers.</p>
   <p> Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua.</p>
      
      
      <h4 class="mt-1"><large> DayDream Dasher software</large> </h4>
      </div>
       <div class="col-sm-6">
      <large> <h4 class="mt-1"> DayDream Dasher teaser trailer below: </h4> </large>
      <video width="480" height="360" controls>
      <source src="/styling/DayDream Dasher Draft 3 .mp4" type="video/mp4">
      </video>
      </div>
  </div>
</div>

<div class="card text-white bg-info mb-3"">
            <div class="card-body">
              <h4 class="card-title"> about us</h4>
            </div>
        </div>
