<div class="col-md-offset-3 col-centered">
   <h2 class="mt-1">
   <large style="font-family: "News Cycle", "Arial Narrow Bold", sans-serif;">DayDream Dasher</large>
   </h2>
</div>
<hr>

<div class="container">
  <div class="row">      
      <div class="col-sm-6">
      <div class="card text-white bg-info mb-3"">
            <div class="card-body">
              <h4 class="card-title">The ultimate escape game!</h4>
                 <p class="card-text"> DayDream Dasher is a 2D multi-level adventure based game. In the game you will experience what it would be like to escape certain classes in school, challenging you to find a way to escape different classroom whilst avoiding the teachers.</p>
            </div>
        </div>
        
      <div class="card text-white bg-info mb-3"">
            <div class="card-body">
              <h4 class="card-title">DayDream Dasher software</h4>
                 <p class="card-text"> DayDream Dasher has been made using unity.</p>
            </div>
        </div>
      </div>
      
       <div class="col-sm-6">
        <div class="card text-white bg-info mb-3"">
            <div class="card-body">
            <h4 class="card-title">DayDream Dasher teaser trailer below:</h4>
      <video width="480" height="360" controls>
      <source src="/styling/DayDream Dasher Draft 3 .mp4" type="video/mp4">
      </video>
      </div>
      </div>
        </div>
      
  </div>
</div>


