<br></br>
<div class="container">
  <div class="row">      
      <div class="col-sm-6">
      <div class="card text-white bg-info mb-3"">
            <div class="card-body">
              <h4 class="card-title">The ultimate escape game!</h4>
                 <p class="card-text"> DayDream Dasher is a 2D multi-level adventure based game. In the game you will experience what it would be like to escape certain classes in school, challenging you to find a way to escape different classrooms whilst avoiding the teachers.</p>
            </div>
        </div>
        
      <div class="card text-white bg-info mb-3"">
            <div class="card-body">
              <h4 class="card-title">DayDream Dasher software</h4>
                 <p class="card-text"> The application we have used to develop our game is unity, supplemented by C# scripts to provide functionality.

The benefits of using unity for our project is the ability to make our game compatible with many platforms, if necessary, with easy implementation; there is a very supportive community, making it easier and quicker to deal with issues throughout development. Unity is also compatible with C#, a very similar  syntax and structure to Java, which our team have prior experience with. Lastly, Unity was highly suitable for a collaborative development project. There is in-built support for GitHub, allowing our developers to work collaboratively with little hinderance.</p>
            </div>
        </div>
      </div>
      
       <div class="col-sm-6">
        <div class="card text-white bg-info mb-3"">
            <div class="card-body">
            <h4 class="card-title">DayDream Dasher teaser trailer below:</h4>
      <video width="480" height="360" controls>
      <source src="/styling/DayDream Dasher Draft 3 .mp4" type="video/mp4">
      </video>
      </div>
       <p class="card-text"> Download DayDream Dasher here! <a href="test_file.zip" download>Download File</a> </p>
      </div>
        </div>
      
  </div>
</div>


