<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE TEAM</h2>
    <p class="w3-opacity"><i>About the creators of DayDream Dasher</i></p>
    <p class="w3-justify">Our team is made up of six Aston University Students who are completing a Digital Technology Solutions Degree Apprenticeship. 
Together we are creating an exciting adventure gamed called DayDream Dasher, a 2D platform game where a student tries to escape school, 
avoiding obstacles and teachers through a variety of levels set in classrooms. Our team collaborate frequently to develop this game, this is 
important as we are all from different areas of England, making in person meetings challenging. Therefore, through frequent collaboration 
we are able to work on our vision for the game and produce a new and exciting game for ages 7+.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Jack</p>
        <img src="/styling/AvatarMaker.png" alt="" class="img-thumbnail">
      </div>
      <div class="w3-third">
        <p>Lucy</p>
        <img src="/styling/lucy avatar.png" alt="" class="img-thumbnail">
      </div>
      <div class="w3-third">
        <p>Erfan</p>
        <img src="/styling/erfan avatar.png" alt="" class="img-thumbnail">
      </div>
    </div>
    
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Josh</p>
        <img src="/styling/josh avatar.png" alt="" class="img-thumbnail">
      </div>
      <div class="w3-third">
        <p>Archie</p>
        <img src="/styling/archie avatar.png" alt="" class="img-thumbnail">
      </div>
      <div class="w3-third">
        <p>Hayley</p>
        <img src="/styling/hayley avatar.png" alt="" class="img-thumbnail">
      </div>
    </div>
  </div>
