<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="logo.png" alt="">
        <p class="mb-4"></p>
        <a href="/users/blog" class="btn btn-primary btn-block mb-2">blog</a>
        <a href="/users/team" class="btn btn-secondary btn-block">team</a>
      </div>
    </div>
  </div>
