.navbar-brand img {
    width: 250px;
}

#title {
    color: #1a53ff;   
}

.img-thumbnail{
    width: 200px;
}

.table-card{
    overflow-x: scroll;
}

.sort-headding .text-black a {
    color: #000;
}

.sort-headding a,
.sort-headding h4 {
    color: #9cdbff;
}


.col-md-offset-3{
  text-align:center;
  font-size: 30px;
}

body{
  background-color: #ceedf2;
}

.links a:hover { 
  background-color: #d9d4d4;
}

.links a {
  text-decoration: none;
  font-size: 23px; 
}
